<div class="row">
    <div class="longinbox">
      <div class="col-sm">
         Username<input type="text" id="Username" class="form-control" name="Username">
      </div>
      <div class="col-sm">
        Password<input type="password" id="Password" class="form-control" name="Password">
     </div>
     <button type="submit" class="btn btn-primary">
      Register
      </button>
    </div>
  </div>