<div class="row">
    <div class="regbox">
        <div class="col-sm">
            FirstName<input type="text" id="FirstName" class="form-control" name="FirstName">
            LastName<input type="text" id="LastName" class="form-control" name="LastName">
            EmailAddress<input type="email" id="EmailAddress" class="form-control" name="EmailAddress">
            PhoneNO<input type="tel" id="EmailAddress" class="form-control" name="EmailAddress">
            Address<input type="text" name="Address" class="form-control" id="Address">
            Employee ID <input type="text" name="Employee_ID" class="form-control" id="Employee_ID">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>
</div>